<div class="main-box" id="home">
	<div class="row">
		<div class="col-md-3">
			<img src="assets/img/blue_king.png" alt="Clash Royale Blue King" />
		</div>
		<div class="col-md-9 text-right">
			<h2>¡Bienvenido a RoyalDeck</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna nunc, maximus non lacus in, sodales cursus ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque luctus sollicitudin velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque accumsan laoreet auctor. Integer fermentum semper lobortis. Aenean iaculis nunc venenatis, commodo massa sed, ornare risus.</p>
			<p>Phasellus a erat id enim fermentum consequat. Phasellus a finibus sem. Nunc leo lorem, dapibus eu quam sit amet, tincidunt pellentesque lectus. Curabitur vestibulum auctor nisi et feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ultrices felis nec efficitur hendrerit. Donec ut libero sed dui consequat placerat. Proin congue enim vitae lacus pretium ornare. Pellentesque dictum ipsum a neque ultrices, a vehicula purus tristique. Donec sed orci ac ante condimentum tempor mattis sed mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec a mattis velit. Aliquam dictum hendrerit est, ac faucibus lacus laoreet et. Phasellus ac bibendum neque, non laoreet risus.</p>
		</div>
	</div>
</div>